@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Noto+Sans&family=Poppins&display=swap');

*{
padding: 0;
margin: 0;
box-sizing: border-box;
font-family: 'Poppins', sans-serif;
}
.dashboard {
    display: flex;
   margin-top: 20px;
    justify-content: center;
    align-items: center;
   

}
.card {
    width: 500px;
    margin: auto;

}
#task-title {
    padding: .7rem 0;
    width: 400px;
    border: 1px solid rgba(0, 0, 0, 0.179);
    margin-right: 10px;
}
#add {
   background:none;
    border: none;
}
.task {
    display: flex;
    align-items: center;
    padding: .5rem;
    border: 1px solid rgba(0, 0, 0, 0.055);
    background-color: rgb(114, 219, 251);
    margin: 7px 0;
    justify-content: space-between;

}
.task p {
    display: flex;
    align-items: center;
    padding: .3rem;
    width: 70%;
    height:40px;
    border-radius: 4px;
}
.btn-box {
 display: flex;
 justify-content: flex-end;
 gap: 0 2px;
    background-color: rgb(187, 187, 187);
    height:40px;
    
    
}
#undone, #done {
   border: none;
   padding: 0 10px;
   width: 50px;
   background: none;
   
}
.true {
    position: relative;
    text-decoration: line-through;
    background-color: rgb(197, 235, 8);
    border-left: 10px rgb(37, 124, 10) solid
}
.true::before {
    content: 'Finished';
    top:50%;
    transform: translateY(-50%);
    right: 20px;
    position: absolute;
    color: red;
}
.false {
    position: relative;
    background-color: orange;
    border-left: 10px rgb(124, 59, 10) solid
}
.false::before {
    content: 'waiting';
    top:50%;
    transform: translateY(-50%);
    right: 20px;
    position: absolute;
    color: rgb(255, 255, 255);
}